{% extends 'dashboard/layouts/dashboard-base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% if profile_ppid %}
            <a type="button" class="m-3 btn btn-primary" href="{% url "update_content" profile_ppid.content_menu_id %}">Edit</a>
            <br>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Menu</th>
                            <th scope="col">Create At</th>
                            <th scope="col">Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{profile_ppid.content_name}}</th>
                            <td class="w-25">{{profile_ppid.create_at}}</td>
                            <td class="w-25">{{profile_ppid.content|safe}}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
        {% else %}
        <div class="col-md-6 offset-md-3">
            <h1> Konten Belum Ada Silahkan Di Input</h1>
            <a type="button" class="m-3 btn btn-primary" href="{% url "add_content" %}">Add Content</a>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}