{% load static %}

<div class="content-header-container">
    <div class="content-header-wrapper">
        <div class="breadcrumb-wrapper">
            <span id="breadcrumb-beranda" class="text-white">Beranda</span>
            <i class="fa fa-chevron-right text-white" aria-hidden="true" id="chevron-right-breadcrumb" ></i>
            <span id="current-content" class="text-white">{{content_name}}</span>
        </div>
        <span id="content-title" class="text-white">{{subcontent_name}}</span>
    </div>
</div>