{% load static %}

<div class="jam-layanan-container">
    <div class="d-flex justify-content-center flex-gap">
        <div id="jam-layanan-label">
            <img src="{% static 'main/img/icon/jam-pelayanan-icon.png' %}">
        </div>
        <div class="border-right">
        </div>
        <div id="jam-layanan-weekdays">
            <div id="hari-kerja">
                <strong> Senin - Kamis </strong>
            </div>
            <div id="jam-kerja">
                <span> 07.30 - 16.00 WIB </span>
            </div>
        </div>
        <div id="jam-istirahat-weekdays">
            <div id="hari-kerja">
                <strong> Istirahat </strong>
            </div>
            <div id="jam-kerja">
                <span> 12.00 - 13.00 WIB </span>
            </div>
        </div>
        <div class="border-right">
        </div>
        <div id="jam-layanan-weekend">
            <div id="hari-kerja">
                <strong> Jumat </strong>
            </div>
            <div id="jam-kerja">
                <span> 07.30 - 16.30 WIB </span>
            </div>
        </div>
        <div id="jam-istirahat-weekend">
            <div id="hari-kerja">
                <strong> Istirahat </strong>
            </div>
            <div id="jam-kerja">
                <span> 12.00 - 13.30 WIB </span>
            </div>
        </div>
    </div>
</div>